# Root
node_modules/
.env
*.log
.DS_Store
Thumbs.db

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.env.local
frontend/.env.production

# Backend
backend/node_modules/
backend/.env
backend/uploads/